<!-- Herdando o código do template.html via jinja -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Atende</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <script type="text/javascript">
        function checkinputs(){
            var revenda = ticketform.revenda.value;
            var telefone = ticketform.telefone.value;
            var uf = ticketform.uf.value;
            var cidade = ticketform.cidade.value;
            var modelo = ticketform.modelo.value;
            var datacompra = ticketform.datacompra.value;
            var reclamacao = ticketform.reclamacao.value;
            var autorizada = ticketform.autorizada.value;

            if (revenda === '' || uf === '' || cidade === '' || modelo === '' || datacompra === '' || reclamacao === '' || autorizada === '' || telefone === '')
            {
                alert('Favor preencher todos os campos!')
                return false;
            }
            return true
        }
    </script>
</head>
<body>
    <nav id="menu-h">
        <ul>
            <li><a href="/paineldecontrole">Painel de Controle</a></li>
            <li><a href="#">Gerenciamento</a>
            <ul>
                <li><a href="/gerenciamentotickets">Tickets</a></li>
                <li><a href="/gerenciamentobalancas">Balanças</a></li>
                <li><a href="/gerenciamentoautorizadas">Autorizadas</a></li>
                <li><a href="/gerenciamentorevendas">Revendas</a></li>
                <li><a href="/gerenciamentopecas">Peças</a></li>
            </ul>
        </li>
        <li><a href="#">Configurações</a>
        <ul>
        <li><a href="/gerenciamentousuarios">Usuarios</a></li>
        </ul>
        </li>
            <li id="sair"><a href="#">Sair</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>Abrir Ticket</h1>
    <h2>Dados gerais</h2>
    <section>
    <form name="ticketform" name="ticket" class="form" action="/insereticket" method="post">
            <!-- Revenda tem que ser Select Box, depois fazer pegar do banco-->
            <div class="select-box">
                <select name="revenda" id="revenda">
                    {% for revenda in revendas %}
                    <option value="{{ revenda.revenda }}">{{ revenda.revenda }}</option>
                    {% endfor %}
                </select>
            </div>

            <!--
            <div class="form-group">
                <label for="revenda" class="label">Nome da Revenda:*</label>
                <input type="text" id="revenda" name="revenda" class="form-control" maxlength="255">
            </div> -->


            <!-- Autorizada tem que ser Select Box, depois fazer pegar do banco-->
            <div class="select-box">
                <select name="autorizada" id="autorizada">
                    {% for autorizada in autorizadas %}
                    <option value="{{ autorizada.autorizada }}">{{ autorizada.autorizada }}</option>
                    {% endfor %}
                </select>
            </div>


            <!--
            <div class="form-group">
                <label for="autorizada" class="label">Autorizada:*</label>
                <input type="text" id="autorizada" name="autorizada" class="form-control" maxlength="255">
            </div> -->


            <div class="form-group">
                <label for="telefone" class="label">Telefone para contato:*</label>
                <input type="text" id="telefone" name="telefone" class="form-control" minlength="10"  maxlength="11" placeholder="(xx) xxxxx-xxxx" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            </div>
            <div class="form-group">
                <label for="uf" class="label">Estado:*</label>
                <input type="text" id="uf" name="uf" class="form-control" >
            </div>
            <div class="form-group">
                <label for="cidade" class="label">Cidade:*</label>
                <input type="text" id="cidade" name="cidade" class="form-control" >
            </div>
            <!-- Modelo tem que ser Select Box, depois fazer pegar do banco-->
            <div class="select-box">
                <select name="modelo" id="modelo">
                    {% for balanca in balancas %}
                    <option value="{{ balanca.balanca }}">{{ balanca.balanca }}</option>
                    {% endfor %}
                </select>
            </div>

            <!--
            <div class="form-group">
                <label for="modelo" class="label">Modelo da balança:*</label>
                <input type="text" id="modelo" name="modelo" class="form-control" >
            </div> -->

            <div class="form-group">
                <label for="datacompra" class="label">Data da compra:*</label>
                <input type="date" id="datacompra" name="datacompra" class="form-control" >
            </div>
            <div class="radiobutton">
                <input type="radio" name="garantia" value="Com Garantia" required> Com Garantia
                <input type="radio" name="garantia" value="Sem Garantia" required> Sem Garantia
            </div>
            <div class="form-group">
                <label for="reclamacao" class="label">Reclamação:*</label>
                <textarea name="reclamacao" id="reclamacao" class="form-control" cols="100" rows="10" maxlength="500"></textarea>
            </div>
            <input id="button" class="btnedit" onclick="return checkinputs()" type="submit" value="Criar">
    </form>
    </section>
</div>
</body>
</html>