<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Atende</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <nav id="menu-h">
        <ul>
            <li><a href="/paineldecontrole">Painel de Controle</a></li>
            <li><a href="#">Gerenciamento</a>
            <ul>
                <li><a href="/gerenciamentotickets">Tickets</a></li>
                <li><a href="/gerenciamentobalancas">Balanças</a></li>
                <li><a href="/gerenciamentoautorizadas">Autorizadas</a></li>
                <li><a href="/gerenciamentorevendas">Revendas</a></li>
                <li><a href="/gerenciamentopecas">Peças</a></li>
            </ul>
        </li>
        <li><a href="#">Configurações</a>
        <ul>
        <li><a href="/gerenciamentousuarios">Usuarios</a></li>
        </ul>
        </li>
            <li id="sair"><a href="#">Sair</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>Editar Revenda</h1>
    <h2>Dados gerais</h2>
    <section>
    <form name="editarrevenda" class="form" method="post" action="/editarrevenda/{{revenda.id}}">
            <!-- Revenda tem que ser Select Box, depois fazer pegar do banco-->
            <div class="form-group">
                <label for="revenda" class="label">Nome da Revenda:*</label>
                <input type="text" name="revenda" class="form-control" required value="{{revenda.revenda}}">
            </div>
            <div class="form-group">
                <label for="estado" class="label">Estado:*</label>
                <input type="text" name="estado" class="form-control" required value="{{revenda.estado}}">
            </div>
            <div class="form-group">
                <label for="cidade" class="label">Cidade:*</label>
                <input type="text" name="cidade" class="form-control" required value="{{revenda.cidade}}">
            </div>
            <div class="buttons">
            <button class="btnedit" type="submit">Salvar</button>
            </div>
    </form>
    </section>
</div>
</body>
</html>