<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Atende</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <nav id="menu-h">
        <ul>
            <li><a href="#">Painel de Controle</a></li>
            <li><a href="#">Gerenciamento</a>
            <ul>
                <li><a href="/gerenciamentotickets">Tickets</a></li>
                <li><a href="/gerenciamentobalancas">Balanças</a></li>
                <li><a href="/gerenciamentoautorizadas">Autorizadas</a></li>
                <li><a href="/gerenciamentorevendas">Revendas</a></li>
                <li><a href="/gerenciamentopecas">Peças</a></li>
            </ul>
        </li>
        <li><a href="#">Configurações</a>
        <ul>
        <li><a href="/gerenciamentousuarios">Usuarios</a></li>
        </ul>
        </li>
            <li id="sair"><a href="#">Sair</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <h1>Gerenciamento de Usuários</h1>
    <div class="container">
    <br>
    <a href="/cadastrarusuario" class="btn btn-success" id="btn_prin">Cadastrar usuário</a>
    <br>
    <br>
    <table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Cargo</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
    {% for usuario in usuarios %}  <!--O Jinja deixa colocar cod no HTML-->
        <tr>
            <td>{{ usuario.nomecompleto }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.cargo }}</td>
            <td>
                <a href="/editarusuario/{{ usuario.id }}" class="btn" methods="GET">Editar</a> 
                <a href="/excluirusuario/{{ usuario.id }}" class="btn">Excluir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
</body>
</html>