<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Atende</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div class="container">

    <h1>Faça seu login</h1>
        <form method="POST" action="/autenticar">
            <!-- Guardando a informação de para onde o usuario tentou ir (pag de /novo) -->
            <input type="hidden" name="proxima">
            <p><label>Nome de usuário:</label> 
            <input class="form-control" type="text" name="usuario" required></p>
            <p><label>Senha:</label> 
            <input class="form-control" type="password" name="senha" required></p>
            <p><button class="btn btn-primary" type="submit">Entrar</button></p>
        </form>
    </div>
</body>
</html>